<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'mySite/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    </head>
    <body style="text-align: center;">
        <div class="Header-Container">
            <h1 style="font-size: 60px;">M A T</h1>
            <h1 style="font-size: 20px;">MACHINE ALGORITHMIC TRADER</h1>
        </div>
        <div class="Login-Container">
            <form action="/signInUser" method="POST">
                <h1 style="padding-top: .5em; padding-bottom: 1.5em;">Sign In</h1>
    
                <div style="padding-left: 5em; padding-right: 5em;">
                    {% csrf_token %}
                    <input type="text" id="userID" name="userID" placeholder="Username" style="font-size: 15px;"><br><br>
                    <input type="password" id="password" name="password" placeholder="Password" style="font-size: 15px;"><br><br>
                    <input type="submit" value="Login" class="Login-Button">
                    
                    <br><br>
                    <a href="signUp" style="color: white;">Sign Up</a>
                    <br><br>
                </div>
            </form>
        </div>
        <div>
            {% if error %}
            <br>
            <p>{{error}}</p>
            {% endif %}
        </div>
    </body>
</html>