{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}"/>
</head>
<body>
    <h1>Blog Archive</h1>
        <div id="menuBar">
            <p id="menu">
                <a href="{% url 'home' %}" style="text-decoration: none;">Home</a>
                <a href="{% url 'about' %}" style="text-decoration: none;">About</a>
                <a href="{% url 'tips' %}" style="text-decoration: none;">Tech Tips - CSS Edition</a>
            </p>
        </div>
    <h2 style="margin-left: 1em;">{{blog.title}}</h2>
    <h3 style="margin-left: 2em;">By {{blog.author}}</h3>
    <p style="margin-left: 1.5em;">{{blog.content}}</p>
    <p style="margin-left: 3em;">- {{blog.posted}}</p>

    <h4 style="margin-left: 1em;">Comments</h4>
    {% if blog.comments_set.all %}
    {% for comment in blog.comments_set.all %}
    <p style="margin-left: 2.5em;">{{comment.commenter}} - ({{comment.email}})</p>
    <p style="margin-left: 4em;">"{{comment.content}}"</p>
    <p style="margin-left: 5em;">- {{comment.posted}}</p>


    <hr>
    {% endfor %}
    {% else %}
    <p style="margin-left: 2em;">No comments :(</p>
    {% endif %}

    <h3 style="text-align: center;"><a href="{% url 'comment' blog.id %}" style="text-decoration: none;">Comment</a></h3>
</body>
</html>