<!DOCTYPE html>
<html>
<head>
	<title>My Weather App!</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://unpkg.com/vue@next"></script>
</head>
<body>
	<div class="title">
		<h1 style="font-size: 3em;">Vue.JS Weather App</h1>
	</div>
	<div id="myApp">
		<div class="location">
			<h1>Your Location</h1>
			<p v-if="location_JSON_data === undefined">LOADING</p>
			<p v-else>{{ "You are located in " + location_JSON_data['city'] + ", " + location_JSON_data['region_name'] + ", " + location_JSON_data['country_name'] +
			" at coordinates {" + location_JSON_data['latitude'] + ", " + location_JSON_data['longitude'] + "}" }}</p>
		</div>
		<div class="currentWeather">
			<h1>Current Conditions</h1>
			<p v-if="currentWeatherData === undefined">LOADING</p>
			<div v-else>
				<ul>
					<li>Currently {{ currentWeatherData['main']['temp'] }} degrees Fahrenheit</li>
					<li>High {{ currentWeatherData['main']['temp_max'] }}</li>
					<li>Low {{ currentWeatherData['main']['temp_min'] }}</li>
					<li>{{ currentWeatherData['weather'][0]['description'] }}</li>
					<li>{{ currentWeatherData['main']['humidity'] }}% Humidity</li>
					<li>{{ currentWeatherData['main']['pressure'] }} hPa Pressure</li>
				</ul>
			</div>
		</div>
		<div class="multiDayWeather">
			<h1 v-if="this.multiDayForecastData === undefined">LOADING</h1>
			<div v-else>
				<h1>5 Day 3-Hour Forecast</h1>
				<unlikely style="color: red;">{{ unlikely }} unlikely </unlikely>
				<neutral>{{ neutral }} neutral </neutral>
				<likely style="color: green;">{{ likely }} likely </likely>
				<div class="singleDayWeatherNeutral"
					 v-on:click="toggle"
					 v-for="day of this.multiDayForecastData">
					<h5>Conditions for {{day['dt_txt']}}</h5>
					<ul>
						<li>Temperature {{day['main']['temp']}}F</li>
						<li>{{day['weather']['0']['description']}}</li>
						<li>{{day['main']['humidity']}}% HumidityF</li>
						<li>{{day['main']['pressure']}} hPa</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>