* {
    margin: 0;
}

.color {
    transition: .35s ease-in;
    transform: translateY(-300px);
    opacity: 0;
}

.color.fade {
    transform: translateY(0px);
    opacity: 1;
}

.grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 1.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.grid > div {
    padding: 4.3em;
    color: white;
}

.hover {
    border: darkslategrey 8px solid;
}

.colorArea {
    margin: 3em;
}