* {
    margin: 0;
    font-family: Copperplate, serif;
}

.color {
    transition: .25s ease-in;
    transform: translateY(-300px);
    opacity: 0;
}

.color.fade {
    transform: translateY(0px);
    opacity: 1;
}

.grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.grid > div {
    color: white;
    padding: 4em;
    margin: .5em;
    border-radius: 4px;
}

.hover {
    border: gold 8px solid !important;
    transform: translate3d(10px, 10px, 10px)!important;
}

.colorArea {
    margin: 2em;
    background-color: darkslategray;
    border: darkslategray 10px solid;
    border-radius: 25px;
}

.top {
    display: grid;
    grid-template-rows: 10% 10%;
    background-color: #34495E;
}

.title {
    text-align: right; 
    font-size: 4em; 
    padding: .5em;
    margin-right: 1em;
}

.home {
    background-color: #2C3E50;
}

.linkHover {
    color: #F1C40F !important;
}

@keyframes shake {
	0% { transform: skewX(-15deg); }
	5% { transform: skewX(15deg); }
	10% { transform: skewX(-15deg); }
	15% { transform: skewX(15deg); }
	20% { transform: skewX(0deg); }
	100% { transform: skewX(0deg); }
}