{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My First HTML Grid!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mySite/colorStyle.css'%}">
    </head>
    <body>
        <div class="grid">
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #1abc9c;">Torquoise</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #2ecc71;">Emerald</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #3498db;">Peter River</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #9b59b6;">Amethyst</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #34495e;">Wet Asphalt</div>

            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #16a085;">Green Sea</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #27ae60;">Nephritis</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #2980b9;">Belize Hole</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #8e44ad;">Wisteria</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #2c3e50;">Midnight Blue</div>

            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #f1c40f;">Sun Flower</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #e67e22;">Carrot</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #e74c3c;">Alizarin</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #ecf0f1;">Clouds</div>
            <div class="Concrete" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" style="background-color: #95a5a6;">Concrete</div>

            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #f39c12;">Orange</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #d35400;">Pumpkin</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #c0392b;">Pomegranate</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #bdc3c7;">Silver</div>
            <div onmouseover="onHoverEnter()" onmouseout="onHoverExit()"  onclick="copy()" style="background-color: #7f8c8d;">Abestos</div>
        </div>

        <script src="{% static 'mySite/colorScript.js'%}"></script>
    </body>
</html>