{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1450">
        <title>My First HTML Grid!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mySite/colorStyle.css' %}">
    </head>
    <body>
        <div class="top">
            <div>
                <h1 class="title" style="color: white;">Color Picker</h1>
            </div>

            <div class="home">
                <h1 style="text-align: left; margin-left: 1em; padding: .25em;">
                    <a href="{% url 'projects' %}" style="text-decoration: none; color: white; transition: .3s ease-in;" onmouseover="linkHoverEnter()" onmouseout="linkHoverExit()">Return Home</a>
                </h1>
            </div>
        </div>
        <div class="colorArea">
            <div class="grid">
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #1abc9c; border: #1abc9c 8px solid;">Torquoise</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #2ecc71; border: #2ecc71 8px solid;">Emerald</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #3498db; border: #3498db 8px solid;">Peter River</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #9b59b6; border: #9b59b6 8px solid;">Amethyst</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #34495e; border: #34495e 8px solid;">Wet Asphalt</div>
    
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #16a085; border: #16a085 8px solid;">Green Sea</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #27ae60; border: #27ae60 8px solid;">Nephritis</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #2980b9; border: #2980b9 8px solid;">Belize Hole</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #8e44ad; border: #8e44ad 8px solid;">Wisteria</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #2c3e50; border: #2c3e50 8px solid;">Midnight Blue</div>
    
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #f1c40f; border: #f1c40f 8px solid;">Sun Flower</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #e67e22; border: #e67e22 8px solid;">Carrot</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #e74c3c; border: #e74c3c 8px solid;">Alizarin</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #ecf0f1; border: #ecf0f1 8px solid;">Clouds</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" style="background-color: #95a5a6;">Concrete</div>
    
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #f39c12; border: #f39c12 8px solid;">Orange</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #d35400; border: #d35400 8px solid;">Pumpkin</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #c0392b; border: #c0392b 8px solid;">Pomegranate</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()" onclick="copy()" style="background-color: #bdc3c7; border: #bdc3c7 8px solid;">Silver</div>
                <div class="color" onmouseover="onHoverEnter()" onmouseout="onHoverExit()"  onclick="copy()" style="background-color: #7f8c8d; border: #7f8c8d 8px solid;">Abestos</div>
            </div>
        </div>

        <script src="{% static 'mySite/colorScript.js' %}"></script>
    </body>
</html>